.preloader-login, .preloader-overlay { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background-color: white; 
}

.preloader-overlay {
    position: fixed;
    justify-content: center;
    align-items: center;
}
